body {
	font-family: arial, sans-serif;
	font-style: normal;
	font-size: 16px;
}


#container {
	width: 100%;
	height: 100%;
	font-size: small;
	white-space: nowrap;
}

.nav {
	width: 100%;
	height: 30px;
	z-index: 999;
	margin-left: -50px;
}
.nav ul {
	float: right;
	margin: 5px 0 3px;
}

.nav li {
	list-style-type: none;
	display: inline-block;
	padding: 0 5px;
}

.nav a {
	text-decoration: none;
	color: #000;
}

.nav a:hover {
	text-decoration: underline;
}

.sign-in {
	line-height: 28px;
	background-color: #4285f4;
	border-radius: 2px;
	border: 1px solid #4285f4;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.sign-in a {
	color: #fff;
	padding: 0 12px;
}

.sign-in a:hover {
	text-decoration: none;
}

.options {
	height: 30px;
	width: 30px;
}

#search-area {
	padding: 30px;
	white-space: nowrap;
	height: 400px;
	width: 600px;
	margin: 150px auto 280px;
	clear: both;
}


.logo {
	width: 290px;
	margin: 10px auto;
}

.logo img {
	height: 95px;
	width: 275px;
}

.search-box {
	width: 550px;
	margin: 0 auto;
}

input[type='search'] {
	width: 550px;
	height: 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.search-options ul {
	width: 300px;
	list-style-type: none;
	margin: 15px auto;
}

.search-options li {
	display: inline-block;
	margin: 0 8px;
}

button {
	height: 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	font-weight: bold;
}

#footer {
	left: 0px;
	width: 100%;
	border-top: 1px solid #e4e4e4;
	background: #f2f2f2;
	line-height: 30px;
}

#footer ul {
	margin: 5px 0;
}

#footer li {
	list-style-type: none;
	display: inline-block;

}

#footer a {
	text-decoration: none;
	padding: 2px 15px;
	color: #666;
}

#footer a:hover {
	text-decoration: underline;
}

.left-footer-nav {
	float: left;
	padding-left: 20px;
}

.right-footer-nav {
	float: right;
	padding-left: 0px;
	padding-right: 20px;
}


.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}



